.section_header, .tile_title, .tile_text, .tile_tag {
    color: white;
}

.tile {
    background: #37474f; /* transparent */
}

.bottom_sub_link_a {
    background: #37474f;
}

.bottom_sub_link_items {
    filter: invert(1);
}

.bottom_sub_link_items:hover {
    filter: none;
}