.embedded_yt {
  width: 100%;
  max-width: 650px;
  margin: auto;

  > div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    > iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}
