<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="icon" type="image/png" href="/static/img/favicon-384x384.png" sizes="384x384">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
        {%- if site_config.theme_colour -%}<meta name="theme-color" content="{{ site_config.theme_colour }}">{%- endif -%}
        <link rel="canonical" href="{{ site_config.url + request.path }}">
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for nitratine.net" href="/rss.xml">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/base.css">

        {%- if site_config.google_analytics_id -%}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{site_config.google_analytics_id}}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{site_config.google_analytics_id}}');
        </script>
        {%- endif -%}

        <!-- instant.page -->
        <script defer src="https://instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>

        <!-- lazysizes -->
        <script src="/static/js/lazysizes.min.js" async=""></script>

        {% block head %}
        {% endblock head %}
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logo.png" width="145" height="30" class="d-inline-block align-top" alt="Brand Icon">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}">
                            <a class="nav-link" href="/blog/">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ site_config.youtube_link }}">YouTube</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/{{ site_config.github_username }}">GitHub</a>
                        </li>
                        <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                            <a class="nav-link" href="/about/">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <div class="container my-4">

            {% block content %}
            {% endblock content %}

        </div>

        <footer class="bg-dark py-4 px-1">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="top-group">
                        <div class="link-group">
                            <p class="header">Navigate</p>
                            <a aria-current="page" class="" href="/">Home</a>
                            <a href="/blog/">Blog</a>
                            <a class="ml-2" href="/blog/categories/">Categories</a>
                            <a class="ml-2" href="/blog/tags/">Tags</a>
                            <a class="ml-2" href="/blog/archive/">Archive</a>
                            <a href="/portfolio/">Portfolio</a>
                            <a href="/about/">About</a>
                        </div>

                        <div class="link-group">
                            <p class="header">Popular Projects</p>
                            <a href="/blog/post/auto-py-to-exe/">auto-py-to-exe</a>
                            <a href="/blog/post/hit-counter/">hit-counter</a>
                            <a href="/blog/post/whos-on-my-network/">whos-on-my-network</a>
                            <a href="/blog/post/monopoly-money/">monopoly-money</a>
                        </div>

                        <div class="link-group expandable">
                            <p class="header">Follow</p>
                            <a href="https://github.com/brentvollebregt" class="with-icon">
                                <img src="/static/img/icons/github.svg" alt="GitHub Logo" style="filter: invert(1);" />
                                GitHub
                            </a>
                            <a href="https://www.youtube.com/c/PyTutorials" class="with-icon">
                                <img src="/static/img/icons/youtube.svg" alt="YouTube Logo" />
                                YouTube
                            </a>
                            <a rel="alternate" type="application/rss+xml" href="/rss.xml" class="with-icon">
                                <img src="/static/img/icons/rss.svg" alt="RSS Logo"/>
                                Nitratine RSS Feed
                            </a>

                            <div class="expand"></div>

                            <a rel="alternate" href="https://www.buymeacoffee.com/brentvollebregt" class="with-icon">
                                <span class="icon" style="align-self: baseline;">🍺</span>
                                Buy me a beer
                            </a>
                        </div>
                    </div>
                </div>

                <div class="mx-4">
                    <hr/>
                </div>

                <p class="text-center m-0">
                    <small>© {{ now.year }} Brent Vollebregt</small>
                </p>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
