{% extends "base.html" %}


{% block head %}
{% block blog_head %}
{% endblock blog_head %}

<link rel="stylesheet" href="/static/css/blog.css">
{% endblock head %}


{% block content %}
 <div class="row">

    <main class="col-blog-content blog-main">
        {% block blog_content %}
        {% endblock blog_content %}
    </main>

    <aside class="col-blog-sidebar blog-sidebar">

        <div class="card p-3 mb-3 bg-light">
            <span class="h4 text-center text-lg-left">About</span>
            <p class="mb-0">{{ site_config.about|safe }}</p>
        </div>

        <div class="input-group mb-3">
            <input id="sidebar-search" type="text" class="form-control" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button id="sidebar-search-submit" class="btn btn-outline-primary" type="button">Search</button>
            </div>
        </div>
        <script>let searchUrl = "{{ url_for('search') }}";</script>
        <script type="text/javascript" defer src="/static/js/search.js"></script>

        <div class="card p-3 mb-3 bg-light">
            <span class="h4 text-center text-lg-left">Categories</span>
            <ol class="list-unstyled mb-0 text-center text-lg-left">
                {% for category in category_numbers %}
                    <li>
                    <a href="/blog/categories/#{{ category }}">
                        {%- if category in site_config.category_prefixes -%}{{ site_config.category_prefixes[category]|safe }}{% endif %} {{ category }}
                        <span class="badge badge-primary ml-3">{{ category_numbers[category] }}</span>
                    </a>
                </li>
                {% endfor %}
            </ol>
        </div>

        <div class="card p-3 mb-3 bg-light">
            <span class="h4 text-center text-lg-left">PyTutorials on YouTube</span>
            <script src="https://apis.google.com/js/platform.js"></script>
            <div style="text-align: center">
                <div class="g-ytsubscribe" data-channel="{{ site_config.youtube_channel_name }}" data-layout="full" data-count="default"></div>
            </div>
        </div>

        <div class="card p-3 mb-3 bg-light">
            <span class="h4 text-center text-lg-left">Recent Videos</span>
            <div id="recent-yt-videos" class="yt_video_container">
                {% for video in recent_videos %}
                    <img src="{{ video.thumb_src }}" alt="Recent video thumbnail" onclick="window.open('{{ video.href }}', '_blank')">
                {% endfor %}
            </div>
        </div>

        <div class="card p-3 mb-3 bg-light">
            <span class="h4 text-center text-lg-left">Featured Sites</span>
            <div class="featured-sites">
                {% for site in site_config.featured_sites %}
                    <a title="{{ site.title }}" href="{{ site.url }}">
                        <img src="{{ site.image_url }}" alt="{{ site.title }}" />
                    </a>
                {% endfor %}
            </div>
        </div>
    </aside>

</div>
{% endblock content %}
