{% extends "base.html" %}

{% block head %}
        <title>Search - Nitratine</title>

        <meta name="description" content="Local Nitratine.net Search">
        <meta name="author" content="{{ site_config.default_author }}">
        <meta property="og:title" content="Search - Nitratine">
        <meta property="og:description" content="Local Nitratine.net Search">
        <meta property="og:image" content="{{ site_config.url }}/assets/img/logo.png">
        <meta property="og:url" content="{{ site_config.url + request.path }}">
        <meta name="twitter:card" content="summary">

        <script type="text/javascript" defer src="/assets/js/fuzzysort.js"></script>
        <script type="text/javascript" defer src="/assets/js/search-page.js"></script>
        <script>let site_content = {{ site_content | tojson }};</script>
{% endblock head %}

{% block content %}
            <div class="mx-auto" style="max-width: 800px">

                <h1 class="text-center">Local Nitratine.net Search</h1>

                <div class="input-group my-4">
                    <input id="search" type="text" class="form-control text-center" placeholder="Search" aria-label="Search">
                </div>

                <div id="results"></div>
            </div>
{% endblock content %}
