.portfolio {
  .snippet {
    h2 {
      text-align: center;
    }

    img {
      max-width: 100%;
    }
  }

  .masonry > div {
    // https://tobiasahlin.com/blog/masonry-with-css/

    width: 100%;
    display: flex;
    flex-flow: column wrap;

    > div.snippet {
      width: calc(50% - 15px);

      &:nth-child(odd) {
        order: 1;
        margin-right: 15px;
      }

      &:nth-child(even) {
        order: 2;
        margin-left: 15px;
      }

      @media (max-width: 768px) {
        &:nth-child(odd),
        &:nth-child(even) {
          width: 100%;
          order: 1;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    &::before,
    &::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
    }
  }
}
