<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{%- if page.title -%}{{ page.title | escape }}{%- else -%}{{ site.title | escape }}{%- endif -%}</title>
    <meta name="description" content="{%- if page.description -%}{{ page.description | truncate: 300 }}{%- else -%}{{ page.excerpt | strip_html | strip_newlines | truncate: 300 }}{%- endif -%}">
    {%- if paginator.previous_page -%}<meta name="robots" content="noindex">{%- endif -%}

    <link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">
    {%- if site.theme_colour -%}<meta name="theme-color" content="{{ site.theme_colour }}">{%- endif -%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml " | prepend: site.baseurl | prepend: site.url }}">

    {%- if site.google_analytics_id -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics_id}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{site.google_analytics_id}}');
    </script>
    {%- endif -%}

    {%- if page.disable_ads -%}
        <!-- Ads are disabled for this page -->
    {%- else -%}
        {%- if site.google_ad_client -%}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({
                  google_ad_client: "{{ site.google_ad_client }}",
                  enable_page_level_ads: true
             });
        </script>
        {%- endif -%}
    {%- endif -%}

    {%- if page.mathjax -%}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: { inlineMath: [["$","$"],["\\(","\\)"]] },
        "HTML-CSS": {
          linebreaks: { automatic: true, width: "container" }
        }
    });
    </script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    {%- endif -%}
</head>
