h1, button, input, .success {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 20px 0 5px 0;
    font-size: 230%;
}

.major_button {
    font-size: 190%;
    border: solid 2px black;
    margin: 5px 0;
    padding: 5px 8px;
    transition: background .3s;
    background: transparent;
    border-radius: 6px;
    width: 100%;
}

.major_button:hover {
    background: #63a4ff;
}

button {
    cursor: pointer;
}

.success {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px 25px 10px 150px;
    background: #25c725;
    margin-bottom: 20px;
    border-radius: 0 5px 5px 0;
    transition: margin-left 1s;
}

.success_hide {
    margin-left: -1000px;
}

#jsonEdit {
    height: 100px;
    width: 100%;
    border-radius: 5px;
}