a {
    text-decoration: none;
}

.article_content {
    padding: 15px;
    max-width: 1200px;
}

.article_content h1 {
    font-size: 55px;
    margin: 20px 0 10px;
    color: #1976d2;
    border-bottom: solid 2px #1976d2;
}

h1:before {
    display: inline-block;
    content: "";
    margin-right: 10px;
    height: 40px;
    background-size: 100% 100%;
    width: 40px;
}

.date, .views {
    font-size: 90%;
    font-weight: bold;
}

.date {
    margin-right: 20px;
}

.date:before {
    content: '🕑 ';
}

.views:before {
    content: '📈 ';
}

.article_content h2 {
    font-size: 35px;
    color: #1976d2;
    border-bottom: solid 1px #1976d2;
}

.article_content h3 {
    font-size: 25px;
    color: #1976d2;
    margin: 0.5em 0;
}

.article_content h4 {
    font-size: 18px;
    color: #1976d2;
    margin: 0.5em 0.5em;
}

.article_content p {
    font-size: 17px;
}

.article_content ul li, .article_content ol li {
    font-size: 17px;
    margin: 4px 0;
}

.article_content img {
    max-width: 100%;
}

.article_content table {
    border-collapse: collapse;
}

.article_content th, .article_content td {
    border: 1px solid #b3b7bb;
    padding: 6px 13px;
}

.article_content textarea {
    max-width: 100%;
    border-radius: 5px;
    border: 2px solid #1976d2;
}

.article_content select, .article_content button {
    background: transparent;
    padding: 4px 15px;
    font-size: 15px;
    border-radius: 4px;
    border: solid 2px #d81b60;
    cursor: pointer;
}

.article_content button:hover {
    background: #ff5c8d;
    color: white;
    transition: background 0.3s, color 0.3s;
}

.vertical_screenshot {
    max-height: 450px;
    width: auto !important;
}

.highlight {
    width: 100%;
    overflow: auto;
}

.highlight pre {
    margin: 0;
}

.link {
    color: #d81b60;
}

.link:hover {
    color: #a00037;
}

.emphasis {
    font-style: italic;
    font-weight: bold;
}

.code {
    font-family: Consolas, Courier, monospace;
    font-size: 14px;
}

.github:before, .youtube:before, .website:before {
    display: inline-block;
    content: "";
    margin-right: 5px;
    height: 16px;
}

.github:before {
    background: url(/img/github.svg);
    background-size: 100% 100%;
    width: 16px;
}

.youtube:before {
    background-image: url(/img/youtube.png);
    background-size: 100% 100%;
    width: 24px;
}

.website:before {
    background-image: url(/img/website.svg);
    background-size: 100% 100%;
    width: 16px;
}