@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(/font/Roboto-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.nav_button_text, .phone_nav_tile_text, .switch_text {
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #efecec;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #d81b60;
}

/* - Nav Bar */

@media screen and (min-width: 1140px) {
    .nav {
        height: 100%;
        position: fixed;
        width: 280px;
        background: white;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
}

@media screen and (max-width: 1139px) {
    .nav {
        display: none;
    }
}

.icon {
    display: inline-block;
    width: 100%;
    height: 90px;
    cursor: pointer;
}

.nav_section, .nav_section_bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav_section_bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
}

.nav_button {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0;
    padding-left: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    transition: background .8s;
}

.nav_button:hover {
    background: #63a4ff;
    cursor: pointer;
}

.nav_button_icon {
    height: 31px;
    margin: 12px 0;
}

.nav_button_text {
    font-size: 19px;
    margin: 18px 0;
}

/* - Phone Nav */

#phone_nav {
    background: #1976d2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: fixed;
    top: 0;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    margin-top: -408px;
    transition: margin-top 0.3s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
}

.phone_nav_tile {
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.phone_nav_tile:hover {
    background: #63a4ff;
}

.phone_nav_tile_img {
    height: 80px;
    filter: invert(1);
}

.phone_nav_tile_text {
    color: white;
    font-size: 26px;
}

.phone_nav_button_enabled {
    color: #d81b60;
}

#phone_nav_bar {
    background: #1976d2;
    text-align: center;
    cursor: pointer;
    height: 55px;
    grid-column: span 4;
    border-top: solid 2px rgba(255, 255, 255, 0.6);
}

#phone_nav_bar_icon {
    height: 100%;
    transition: transform .3s;
    filter: invert();
}

.phone_nav_bar_block {
    height: 55px;
}

@media screen and (min-width: 1140px) {
    #phone_nav, .phone_nav_bar_block {
        display: none
    }
}

/* - Content */

@media screen and (min-width: 1140px) {
    .content {
        margin-left: 280px;
    }
}

@media screen and (max-width: 1139px) {
    .content {
        margin-left: 0;
    }
}

.content_container {
    max-width: 1200px;
}

/* - Switches */

.switch_text {
    font-size: 17px;
    margin: 8px 0;
    padding: 0 40px;
    display: inline-block;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 55px;
    height: 29px;
    margin: 2px 50px 2px 0;
    right: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #1976d2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1976d2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* - Snow */

#snow {
    pointer-events: none;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.snow {
    background: url(/img/snow/s1.png), url(/img/snow/s2.png), url(/img/snow/s3.png);
    animation: snow 7s linear infinite;
}

@keyframes snow {
    0% { background-position: 0 0, 0 0, 0 0; }
    100% { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}