/*@import url('https://fonts.googleapis.com/css?family=Roboto');*/

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #efecec;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* - Nav Bar */

.nav {
    height: 100%;
    position: fixed;
    width: 300px;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.icon {
    display: inline-block;
    width: 100%;
    height: 90px;
    cursor: pointer;
}

.nav_section {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav_button {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 0;
    padding-left: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    transition: background .8s;
}

.nav_button:hover {
    background: #63a4ff;
    cursor: pointer;
}

.nav_button_icon {
    height: 31px;
    margin: 12px 0;
}

.nav_button_text {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    margin: 18px 0;
}

/* - Content */

.content {
    margin-left: 300px;
}

.content_container {
    max-width: 1200px;
    margin: auto;
}
