.header {
    background: transparent;
}

.header > img {
    max-height: 150px;
}

@media (min-width: 576px) { .card-columns { column-count: 2; } }
@media (min-width: 768px) { .card-columns { column-count: 3; } }
@media (min-width: 992px) { .card-columns { column-count: 3; } }
@media (min-width: 1200px) { .card-columns { column-count: 4; } }

/* Card hovers */

.card-hover-effect {
    transition: border 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card-hover-effect:hover {
    border: 1px solid #007bff;
    box-shadow: 4px 4px 15px 0 rgba(0,0,0,.2);
}
