.welcome_message {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #1976d2;
    padding: 0 20px;
}

.featured_sections {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-gap: 10px;
    padding: 5px 15px;
}

@media screen and (min-width : 980px) {
    .featured_sections {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width : 979px) {
    .featured_sections {
        grid-template-columns: 1fr;
    }
}

.section_header {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 0 0 10px;
    font-size: 200%;
}

.tile {
    padding: 10px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.75);
    display: block;
    background: white;
    border: solid 3px #1976d2;
    cursor: pointer;
    margin: 10px 0;
    position: relative;
    height: 170px;
    text-decoration: none;
}

.tile_image {
    height: 100%;
    float: left;
    margin-right: 10px;
}

.tile_title {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 24px;
}

.tile_text {
    font-family: 'Roboto', sans-serif;
    margin: 8px 0;
    font-size: 15px;
}

.tile_tag_box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.tile_tag {
    height: 25px;
    background: #505050;
    display: inline;
    padding: 2px 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}