.top_bar {
    height: 60px;
    background-color: #1976d2;
}

.header_wrapper {
    height: 90px;
    background-color: #1976d2;
}

.header_img {
    width: 90px;
    height: 90px;
    background-size: 100% 100%;
    background-position: center;
    float: left;
    margin-left: 50px;
    filter: invert(100%);
}

.header_text {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    padding: 15px 0 15px 160px;
    color: white;
    font-weight: normal;
}

.content_box {
    display: grid;
    background: white;
    border: solid 3px #1976d2;
    margin: 12px;
    padding: 3px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.content_box_title {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin: 5px;
    font-size: 200%;
}

.top_article_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 5px;
}

.top_article_single {
    background: red;
    height: 200px;
}

.date_order_article_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 5px;
}

.date_order_article {
    height: 200px;
    padding: 10px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.75);
    display: block;
    position: relative;
}

.date_order_article:hover {
    background: #efecec;
    cursor: pointer;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.75);
}

.date_order_article_image {
    width: 33%;
    float: left;
    margin-right: 10px;
}

.date_order_article_title {
    display: inline;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 150%;
}

.date_order_article_text {
    font-family: 'Roboto', sans-serif;
    margin: 8px 0;
    font-size: 95%;
}

.date_order_article_tag_box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.date_order_article_tag {
    height: 25px;
    background: #505050;
    display: inline;
    padding: 2px 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
