{% extends "base.html" %}


{% block head %}
<title>About - Nitratine</title>

<meta name="description" content="My name is Brent and I'm a full-time software developer from New Zealand. My preferred language is Python but I also do a lot of development in frontend in my free time and use an assortment of other tech at work.">
<meta name="author" content="{{ site_config.default_author }}">
<meta property="og:title" content="About - Nitratine">
<meta property="og:description" content="My name is Brent and I'm a full-time software developer from New Zealand. My preferred language is Python but I also do a lot of development in frontend in my free time and use an assortment of other tech at work.">
<meta property="og:image" content="{{ site_config.url }}/static/img/logo.png">
<meta property="og:url" content="{{ site_config.url + request.path }}">
<meta name="twitter:card" content="summary">

<!-- Latest build: {{ build_time }} -->
{% endblock head %}


{% block content %}
<main class="row justify-content-center">
    <div class="col-xs-12 col-lg-8">
        <h1>About Me</h1>
        <p>My name is <a href="https://github.com/brentvollebregt">Brent</a> and I'm a full-time software developer from New Zealand. My preferred language is TypeScript but I also do a lot of backend development in my free time and use an assortment of other tech at work.</p>
        <p>I own the <a href="https://www.youtube.com/PyTutorials">PyTutorials</a> channel on YouTube, which is where I provide video tutorials on intermediate Python topics.</p>
        <p><a href="/">Nitratine</a> is a place for me to share projects developed by me and tutorials on topics that I'm interested in. Currently, this is the third version of the site which is hosted statically using GitHub Pages and built with a custom Python build script utilising <a href="https://github.com/Frozen-Flask/Frozen-Flask">Frozen-Flask</a>.</p>
        <p>A small <a href="/portfolio/">portfolio of my work can be found here</a>, which contains a collection of my favourite projects with a small description and links to pages relating to each project.</p>
        <p class="text-muted">Basic site statistics and values relating to the things I do can be found at <a href="/data/">/data/</a>.</p>

        <h2>Tech I Have Had Experience With</h2>
        <div class="tech-icon-container mb-3">
            <!-- React --> <img src="/static/img/icons/react.svg" title="React" alt="React">
            <!-- TypeScript --> <img src="/static/img/icons/typescript.svg" title="TypeScript" alt="TypeScript">
            <!-- .NET Core --> <img src="/static/img/icons/dotnet-core.svg" title=".NET Core" alt=".NET Core">
            <!-- Python --> <img src="/static/img/icons/python.svg" title="Python" alt="Python">
            <!-- JavaScript --> <img src="/static/img/icons/javascript.svg" title="JavaScript" alt="JavaScript">
            <!-- Java --> <img src="/static/img/icons/java.svg" title="Java" alt="Java">
            <!-- Git --> <img src="/static/img/icons/git.svg" title="Git" alt="Git">
            <!-- HTML --> <img src="/static/img/icons/html.svg" title="HTML" alt="HTML">
            <!-- Azure --> <img src="/static/img/icons/azure.svg" title="Azure" alt="Azure">
            <!-- CSS --> <img src="/static/img/icons/css.svg" title="CSS" alt="CSS">
            <!-- SQLite --> <img src="/static/img/icons/sqlite.svg" title="SQLite" alt="SQLite">
            <!-- Android --> <img src="/static/img/icons/android.svg" title="Android SDK" alt="Android SDK">
            <!-- Flask --> <img src="/static/img/icons/flask.svg" title="Flask" alt="Flask">
            <!-- JetBrains --> <img src="/static/img/icons/jetbrains.svg" title="JetBrains" alt="JetBrains">
            <!-- Linux --> <img src="/static/img/icons/linux.svg" title="Linux" alt="Linux">
            <!-- PhotoShop --> <img src="/static/img/icons/photoshop.svg" title="Adobe PhotoShop" alt="Adobe PhotoShop">
            <!-- C# --> <img src="/static/img/icons/csharp.svg" title="C#" alt="C#">
            <!-- Clojure --> <img src="/static/img/icons/clojure.svg" title="Clojure" alt="Clojure">
            <!-- Haskell --> <img src="/static/img/icons/haskell.svg" title="Haskell" alt="Haskell">
        </div>

        <h2 id="donations">Donations</h2>
        <p>If you would like to donate for any project I maintain, head over to <a href="https://www.buymeacoffee.com/brentvollebregt">buymeacoffee.com/brentvollebregt</a> and leave a message.</p>
        <p>
            <a href="https://www.buymeacoffee.com/brentvollebregt">
                <img src="/static/img/buy-me-a-coffee-black.png" alt="Buy Me A Coffee" style="max-height: 60px" />
            </a>
        </p>

        <h2 id="contact">Contact</h2>
        <p>If you have a question or issues with:</p>
        <ul>
            <li>One of my YouTube videos &rarr; comments on the video</li>
            <li>One of my blog posts &rarr; comment on the blog post</li>
            <li>One of my projects on GitHub &rarr; raise an issue on the repository after searching existing issues</li>
        </ul>
        <p class="mb-1">If you would like to contact me for something that <b>isn't listed above</b>, send an email to <a id="email" href="javascript:displayEmail();">[Click to display email address]</a>.</p>
        <p class="text-muted"><small>Emails relating to one of situations above will be referred back to the corresponding platform.</small></p>
        <script>
            function displayEmail() {
                alert("Please only send questions to this email address if it's not related to a YouTube video, blog post or GitHub project (unless the question is of private nature).\nAny questions about these topics will be referred back to the corresponding platform.");
                document.getElementById('email').innerText = "{{ site_config.email }}";
                document.getElementById('email').href = "mailto:{{ site_config.email }}";
            }
        </script>
    </div>
</main>
{% endblock content %}
