.blog-post {
  li p {
    // Handles .toc and .body
    margin: 0;
  }

  div.body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      code {
        font-size: inherit;
      }
    }

    img {
      max-width: 100%;
      display: block;
      margin: auto;
    }
  }
}
