main {
    margin-top: 5rem; /* Account for nav */
}

.card-hover-effect {
    transition: border 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card-hover-effect:hover {
    border: 1px solid #007bff;
    box-shadow: 4px 4px 15px 0 rgba(0,0,0,.2);
}

.card-columns > a, .blog-main > a {
    color: inherit;
}

.tech-icon-container {
    text-align: center;
}

.tech-icon-container > img {
    width: 60px;
    margin: 0 5px 5px 5px;
}

*::selection {
    background: #ded28f;
    color: black;
}

a { word-break: break-word; }
