{% extends "SKELETON.html" %}

{% block head %}
<title>Administration</title>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block content %}
<style>
    h1, h2, h3 {margin: 0; font-weight: normal; font-family: 'Roboto', sans-serif;}
</style>
<button>Push JSON</button>
<button>Download JSON</button>
<button>Re-scrape Pages</button>
<button>Export Stats</button>
<button>Upload JSON</button>

<h1>Edit Article</h1>
<input placeholder="Article Sub">
<input placeholder="Article URL">
<button>Get</button> <!-- Make sure the article exists -->
<br>
<button>Download HTML</button>
<h2>Upload HTML</h2>
<button>Download icon</button>
<h2>Upload icon</h2>
<button>Download JSON</button>
<h2>Upload JSON</h2>
<button>Delete Article</button>

<h1>Create Article</h1>
<input placeholder="Article Sub">
<input placeholder="Article URL">
<button>Create</button> <!-- Create a default to be edited later -->

<br>
<button onclick="logout()">Logout</button>
{% endblock %}