{% extends "SKELETON.html" %}

{% block head %}
<title>Administration</title>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Push JSON</h1>
<h1>Download JSON</h1>
<h1>Re-scrape Pages</h1>
<h1>Export Stats</h1>
<h1>Upload JSON</h1>

<h1>Edit Article</h1>
<h2>Article Location: </h2>
<h3>Get</h3> <!-- Make sure the article exists -->
<h2>Download HTML</h2>
<h2>Upload HTML</h2>
<h2>Download JSON</h2>
<h2>Upload JSON</h2>
<h2>Delete Article</h2>

<h1>Create Article</h1>
<h2>Sub, url</h2>
<h2>Create</h2> <!-- Create a default to be edited later -->


{% endblock %}