                <!-- Sidebar -->
                <aside class="col-blog-sidebar blog-sidebar">

                    <div class="card p-3 mb-3 bg-light">
                        <h4 class="text-center text-lg-left">About</h4>
                        <p class="mb-0">{{ site.about|safe }}</p>
                    </div>

                    <div class="input-group mb-3">
                      <input id="search" type="text" class="form-control" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button id="search-submit" class="btn btn-outline-primary" type="button">Search</button>
                        </div>
                    </div>
                    <script>let searchUrl = "{{ url_for('search') }}";</script>
                    <script type="text/javascript" defer src="/assets/js/search.js"></script>

                    <div class="card p-3 mb-3 bg-light">
                        <h4 class="text-center text-lg-left">Categories</h4>
                        <ol class="list-unstyled mb-0 text-center text-lg-left">
                            {% for category in category_numbers %}
                                <li>
                                <a href="/blog/categories/#{{ category }}">
                                    {%- if category in site['category-extra'] -%}{{ site['category-extra'][category]|safe }}{% endif %} {{ category }}
                                    <span class="badge badge-primary ml-3">{{ category_numbers[category] }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="card p-3 mb-3 bg-light">
                        <h4 class="text-center text-lg-left">PyTutorials on YouTube</h4>
                        <script src="https://apis.google.com/js/platform.js"></script>
                        <div style="text-align: center">
                            <div class="g-ytsubscribe" data-channel="{{ site.youtube_channel_name }}" data-layout="full" data-count="default"></div>
                        </div>
                    </div>

                    <div class="card p-3 mb-3 bg-light">
                        <h4 class="text-center text-lg-left">Recent Videos</h4>
                        <div id="recent-yt-videos" class="yt_video_container">
                            {% for video in recent_videos %}
                                <img src="{{ video.thumb_src }}" onclick="window.open('{{ video.href }}', '_blank')">
                            {% endfor %}
                        </div>
                    </div>
                </aside>