{% extends "base.html" %}

{% block head %}
        <title>Blog Feed - Nitratine</title>
        <link rel="stylesheet" href="/assets/css/blog.css">
        {% if pagination_nav['current'] != 1 %}<meta name="robots" content="noindex">{% endif %}

        <meta name="description" content="New posts and links with resources to my YouTube videos will appear here.">
        <meta name="author" content="{{ site.default_author }}">
        <meta property="og:title" content="Nitratine Blog Feed">
        <meta property="og:description" content="New posts and links with resources to my YouTube videos will appear here.">
        <meta property="og:image" content="{{ site.url }}/assets/img/logo.png">
        <meta property="og:url" content="{{ site.url + request.path }}">
        <meta name="twitter:card" content="summary">
{% endblock head %}

{% block content %}
             <div class="row">

                <!-- Blog Feed -->
                <div class="col-blog-content blog-main">
                    <h1 class="mb-4">Nitratine Blog Feed</h1>

                    <!-- Feed follows -->

                    {% for post in posts %}

                    <div class="card mb-4 blog-card-lg">
                        <div>
                            <img alt="Thumbnail" src="{% if post.feature %}/post-assets/{{ post.path }}/{{ post.feature }}{% else %}/assets/img/default-feature.png{% endif %}">
                        </div>
                        <div class="p-3">
                            <h3 class="mb-0">
                                <a class="text-dark" href="{{ url_for('blog_post', path=post.path) }}">{{ post.title }}</a>
                            </h3>
                            <div class="mb-1">
                                <a href="/blog/archive/#{{ post.date.year }}" class="text-muted">{{ ymd_format(post.date) }}</a>
                                <a href="/blog/categories/#{{ post.categories }}" class="badge badge-primary ml-2">{{ post.categories }}</a>
                                {% for tag in post.tags %}
                                <a href="/blog/tags/#{{ tag }}" class="badge badge-warning">{{ tag }}</a>
                                {% endfor %}
                            </div>
                            <p class="card-text">{{ post.description }}</p>
                            <a href="{{ url_for('blog_post', path=post.path) }}" role="button" class="btn btn-outline-primary btn-block">Read More &rarr;</a>
                        </div>
                    </div>

                    {% endfor %}

                    <!-- Pagination -->
                    <nav class="blog-pagination text-center mb-5 mt-4">
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if not pagination_nav['prev'] %}disabled{% endif %}">
                                {% if pagination_nav['prev'] %}
                                    {% if pagination_nav['prev'] == 1 %}
                                        <a class="page-link" href="{{ url_for('blog_home') }}">Previous</a>
                                    {% else %}
                                        <a class="page-link" href="{{ url_for('blog_pagination', page=pagination_nav['prev']) }}">Previous</a>
                                    {% endif %}
                                {% else %}
                                    <a class="page-link" tabindex="-1">Previous</a>
                                {% endif %}
                            </li>

                            {% for page in pagination_nav['pages'] %}
                                {% if pagination_nav['current'] == page %}
                                    <li class="page-item active"><a class="page-link" href="">{{ page }} <span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    {% if page == 1 %}
                                        <li class="page-item"><a class="page-link" href="{{ url_for('blog_home') }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="{{ url_for('blog_pagination', page=page) }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <li class="page-item {% if not pagination_nav['next'] %}disabled{% endif %}">
                                {% if pagination_nav['next'] %}
                                    <a class="page-link" href="{{ url_for('blog_pagination', page=pagination_nav['next']) }}">Next</a>
                                {% else %}
                                    <a class="page-link" tabindex="-1">Next</a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>

                </div>

                {% include 'blog-sidebar.html' %}

            </div>
{% endblock content %}