{% extends "SKELETON.html" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="wrapper">
    <div style="background: red; grid-column: 1/3;">Hello</div>
    <div style="background: blue; grid-column: 3/5;">Hello</div>
    <div style="background: green; grid-column: 5/7;">Hello</div>
    <div style="background: purple; grid-column: 1/3;">Hello</div>
    <div style="background: teal; grid-column: 3/5;">Hello</div>
    <div style="background: deeppink; grid-column: 5/7;">Hello</div>
</div>
{% endblock %}
