{% extends "SKELETON.html" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animations.css') }}">
{% endblock %}

{% block content %}
<div class="content_container">
    <!-- Header (Temporary) -->
    <div style="height: 220px;background: lightgrey;font-family: 'Roboto', sans-serif;text-align: center;line-height: 220px;font-size: 400%;">Brent Vollebregt</div>
    <p class="welcome_message">Yes, I <span style="color: #d81b60;">built this site myself</span> and I am <span style="color: #d81b60;">very sorry</span> for it.</p>
    <!-- Featured sections -->
    <div class="featured_sections">
        <div>
            <h2 class="section_header">Newest</h2>

            {% for article in recent_articles %}
            <a class="tile sweep-to-right" href="/{{ article['sub'] }}/{{ article['url_ext'] }}">
                <img src="/non-static/{{ article['sub'] }}/{{ article['url_ext'] }}/icon.png" class="tile_image">
                <h3 class="tile_title">{{ article['title'] }}</h3>
                <p class="tile_text">{{ article['description'] }}</p>
                <div class="tile_tag_box">
                    {% for tag in article['tags'] %}
                    <div class="tile_tag">{{ tag }}</div>
                    {% endfor %}
                </div>
            </a>
            {% endfor %}
        </div>

        <div>
            <h2 class="section_header">Top</h2>
            {% for article in top_articles %}
            <a class="tile sweep-to-right" href="/{{ article['sub'] }}/{{ article['url_ext'] }}">
                <img src="/non-static/{{ article['sub'] }}/{{ article['url_ext'] }}/icon.png" class="tile_image">
                <h3 class="tile_title">{{ article['title'] }}</h3>
                <p class="tile_text">{{ article['description'] }}</p>
                <div class="tile_tag_box">
                    {% for tag in article['tags'] %}
                    <div class="tile_tag">{{ tag }}</div>
                    {% endfor %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
