{% extends "SKELETON.html" %}

{% block head %}
<title>Login | Nitratine</title>
<meta name="robots" content="noindex">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet" type="text/css" class="css_dark_theme" href="{{ url_for('static', filename='css/dark/admin.css') }}">
<style></style>
<script>
    login = function () {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/admin", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify({
            username: username,
            password: password
        }));
        xhr.onload = function () {
            var data = JSON.parse(this.responseText)['success'];
            if (data) {
                window.location.reload();
            } else {
                document.getElementById('username').value = '';
                document.getElementById('password').value = '';
            }
        };
    };
</script>
{% endblock %}

{% block content %}
<div style="padding: 0.5%;">
    <input id="username" placeholder="Username">
    <input id="password" placeholder="Password">
    <button style="cursor: pointer" onclick="login()">Submit</button>
</div>
{% endblock %}