{% extends "base.html" %}

{% block head %}
        <title>Portfolio - Nitratine</title>
        <link rel="stylesheet" href="/assets/css/blog.css">
        <link rel="stylesheet" href="/assets/css/pygments.css">

        <meta name="description" content="This is a small collection of my favourite projects I developed with a small description and links to pages relating to the project.">
        <meta name="author" content="{{ site_config.default_author }}">
        <meta property="og:title" content="Portfolio - Nitratine">
        <meta property="og:description" content="This is a small collection of my favourite projects I developed with a small description and links to pages relating to the project.">
        <meta property="og:image" content="{{ site_config.url }}/assets/img/logo.png">
        <meta property="og:url" content="{{ site_config.url + request.path }}">
        <meta name="twitter:card" content="summary">
{% endblock head %}

{% block content %}
            <div class="row justify-content-center mb-5">
                <div class="col-xs-12 col-lg-8">
                    <h1 class="text-center">Portfolio</h1>
                    <p class="lead text-center">This is a small collection of my favourite projects I developed with a small description and links to pages relating to the project.</p>
                </div>
                <div class="col-sm-12 col-md-6 col-centered">

                    <a href="https://github.com/brentvollebregt/auto-py-to-exe"><h2 class="mt-3 text-center">Auto Py To Exe</h2></a>
                    <p>This project was my attempt at making the task of packaging Python scripts to Windows executables to run on computers without Python installed easier for new-comers.</p>
                    <p>This project allows someone to easily set up a server that uses chromes app mode as an interface and then calls PyInstaller with the parameters provided by the user.</p>
                    <img src="/posts/auto-py-to-exe/empty-interface.png" alt="Auto-Py-To-Exe Empty Interface" style="display: block; width: 100%; max-width: 350px; margin: auto;" class="mb-2">
                    <div style="text-align: center">
                        <a href="https://pypi.org/project/auto-py-to-exe/"><img style="display: inline;" src="https://img.shields.io/pypi/v/auto-py-to-exe.svg" alt="PyPI Version"></a>
                        <a href="https://pypi.org/project/auto-py-to-exe/"><img style="display: inline;" src="https://img.shields.io/pypi/pyversions/auto-py-to-exe.svg" alt="PyPI Supported Versions"></a>
                        <a href="https://pypi.org/project/auto-py-to-exe/"><img style="display: inline;" src="https://img.shields.io/pypi/l/auto-py-to-exe.svg" alt="License"></a>
                        <a href="http://pepy.tech/project/auto-py-to-exe"><img style="display: inline;" src="http://pepy.tech/badge/auto-py-to-exe" alt="Downloads"></a>
                        <a href="http://pepy.tech/project/auto-py-to-exe"><img style="display: inline;" src="https://img.shields.io/pypi/dm/auto-py-to-exe.svg" alt="Downloads Per Month"></a>
                    </div>
                    <p>This project can be installed from PyPI by executing:</p>
                    <div class="codehilite"><pre><span></span><span class="go">python -m pip install auto-py-to-exe</span></pre></div>
                    <p>And then to run the project, simply call:</p>
                    <div class="codehilite"><pre><span></span><span class="go">auto-py-to-exe</span></pre></div>
                    <blockquote>
                        <p>Associated <a href="{{ url_for('blog_post', path='auto-py-to-exe') }}">post</a></p>
                    </blockquote>

                    <hr>

                    <a href="https://monopoly-money.nitratine.net/"><h2 class="mt-3 text-center">Monopoly Money</h2></a>
                    <img src="/posts/monopoly-money/banner.png" alt="Monopoly Money Logo" class="mb-2 w-100">
                    <p>Monopoly Money is a web app that helps you keep track of your finances in a game of Monopoly</p>
                    <p>Instead of using the cash that the game commonly comes with, you can play Monopoly like you're playing the credit card edition, but with your phone - a much more faster way to exchange money.</p>
                    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 6px;">
                        <img src="/posts/monopoly-money/screenshot-1.png" alt="Funds page with game id" class="w-100" />
                        <img src="/posts/monopoly-money/screenshot-3.png" alt="Game history" class="w-100" />
                        <img src="/posts/monopoly-money/screenshot-4.png" alt="Bankers actions page" class="w-100" />
                    </div>
                    <blockquote>
                        <p>Associated <a href="{{ url_for('blog_post', path='monopoly-money') }}">post</a></p>
                    </blockquote>

                    <hr>

                    <a href="https://spotify-lyrics-viewer.nitratine.net/"><h2 class="mt-3 text-center">Spotify Lyrics Viewer</h2></a>
                    <img src="/posts/spotify-lyrics-viewer/spotify-lyrics-viewer-banner.png" alt="Spotify Lyrics Viewer Logo" style="width: 100%;" class="mb-2">
                    <p>Spotify Lyrics Viewer is a tool that allows you to view the lyrics of the current playing song on Spotify by simply signing into Spotify.</p>
                    <p>The tool provides a basic interface showing details about the current playing song and lyrics sourced from Genius.</p>
                    <img src="/posts/spotify-lyrics-viewer/sample.png" alt="Spotify Lyrics Viewer showing lyrics" style="width: 100%;" class="mb-2">
                    <blockquote>
                        <p>Associated <a href="{{ url_for('blog_post', path='spotify-lyrics-viewer') }}">post</a></p>
                    </blockquote>

                    <hr>

                    <a href="https://github.com/brentvollebregt/price-per-unit"><h2 class="mt-3 text-center">Price Per Unit</h2></a>
                    <img src="/posts/price-per-unit/FeatureGraphic.jpg" alt="PyTutorials Channel Header" style="width: 100%;" class="mb-2">
                    <p>This project is an Android app that compares prices for similar items and will calculate the price per unit for each item. These values can then be compared to find the best value for money. Simply give a name (optional), enter in the cost, amount and size of each item and the unit per dollar will be calculated.</p>
                    <blockquote>
                        <p>Associated <a href="{{ url_for('blog_post', path='price-per-unit') }}">post</a></p>
                    </blockquote>

                </div>

                <div class="col-xs-12 col-sm-6 col-centered">

                    <a href="https://emotionify.nitratine.net/"><h2 class="mt-3 text-center">Emotionify</h2></a>
                    <img src="/posts/emotionify/emotionify-banner.png" alt="Emotionify Banner" style="width: 100%;" class="mb-2">
                    <p>Emotionify is a web app that allows users to login to Spotify, select a playlist and then sort them using Spotify's pre-calculated audio feature values.</p>
                    <p>By default, this project aims to create emotionally gradiented Spotify playlists for smoother emotional transitions. It does this by sorting songs based off the two features <code>Valence</code> and <code>Energy</code> <a href="https://developer.spotify.com/documentation/web-api/reference/tracks/get-audio-features/">calculated by Spotify</a> based on distance from the origin.</p>
                    <p>Users also have the ability to change how and what songs are sorted by.</p>
                    <img src="/posts/emotionify/emotionify-sort-comparison.png" alt="Example Visualisation Sort of a Personal Playlist" style="width: 100%;" class="mb-2">
                    <blockquote>
                        <p>Associated <a href="{{ url_for('blog_post', path='emotionify') }}">post</a></p>
                    </blockquote>

                    <a href="https://www.youtube.com/PyTutorials"><h2 class="mt-3 text-center">PyTutorials YouTube Channel</h2></a>
                    <img src="/assets/img/PyTutorials-channel-header.jpg" alt="PyTutorials Channel Header" style="width: 100%;" class="mb-2">
                    <p>When I have time and ideas, I like to make programming tutorials. Currently most of my tutorials are Python related but I also have a few different ones.</p>
                    <p class="mb-0">Some of my videos have quite a bit of attention, for example:</p>
                    <ul>
                        <li><a href="https://youtu.be/lOIJIk_maO4">Convert PY to EXE</a>: 600K+ views</li>
                        <li><a href="https://youtu.be/ksW59gYEl6Q">Python GUI's with PyQt5</a>: 200k+ views</li>
                        <li><a href="https://youtu.be/x8GbWt56TlY">Python Keylogger</a>: 150k+ views</li>
                        <li><a href="https://youtu.be/H-6gxvBBEiw">Record Your Computer Screen With VLC</a>: 900k+ views</li>
                    </ul>
                    <p>I give a significant amount of help in the comments for these videos and try my best to find solutions for issues people are having. This also allows me to gauge what people like in terms of topics and the videos themselves and get great feedback.</p>

                    <hr>

                    <a href="https://github.com/brentvollebregt/whos-on-my-network"><h2 class="mt-3 text-center">Who's On My Network</h2></a>
                    <img src="/posts/whos-on-my-network/whos-on-my-network-logo.png" alt="Who's On My Network Logo" style="width: 100%;" class="mb-2">
                    <p>This tool helps you keep and eye on who is on your network and when. It can periodically scan your network and you can then assign devices to people and view who is on your network.</p>
                    <p>The tool provides a React interface to view scans that have been made and identify unusual and unexpected activity.</p>
                    <img src="/posts/whos-on-my-network/overview-screenshot.png" alt="Who's On My Network Overview Demo" style="width: 100%;" class="mb-2">
                    <blockquote>
                        <p>Associated <a href="{{ url_for('blog_post', path='whos-on-my-network') }}">post</a></p>
                    </blockquote>

                    <hr>

                    <a href="https://nitratine.net/"><h2 class="mt-3 text-center">nitratine.net</h2></a>
                    <img src="/assets/img/logo.png" alt="Nitratine Logo" style="width: 100%;" class="mb-2">
                    <p>Nitratine is a website where I share projects developed by me and tutorials on topics that I'm interested in. Currently this is the third version of the site and is hosted statically using GitHub Pages and built with a <a href="https://github.com/brentvollebregt/nitratine.net">custom Python build script</a>.</p>
                    <p>When developing and writing posts, the website can be hosted locally using Flask which then changes to be viewed without having to re-build the site on each modification. Posts are written in markdown which are converted to HTML using <a href="https://github.com/Flask-FlatPages/Flask-FlatPages">Flask-FlatPages</a>.</p>
                    <p>Due to the static nature of the site, I use <a href="https://github.com/Frozen-Flask/Frozen-Flask">Frozen-Flask</a> to freeze the site into a static version that can easily be hosted on GitHub pages. A deploy script then commits, tags and pushes all changes on a separate branch.</p>

                </div>
            </div>
{% endblock content %}
