{% extends "base.html" %}

{% block head %}
        <title>Portfolio - Nitratine</title>

        <meta name="description" content="This is a small collection of my favourite projects I developed with a small description and links to pages relating to the project.">
        <meta name="author" content="{{ site.default_author }}">
        <meta property="og:title" content="Portfolio - Nitratine">
        <meta property="og:description" content="This is a small collection of my favourite projects I developed with a small description and links to pages relating to the project.">
        <meta property="og:image" content="{{ site.url }}/assets/img/logo.png">
        <meta property="og:url" content="{{ site.url + request.path }}">
        <meta name="twitter:card" content="summary">
{% endblock head %}

{% block content %}
            <div class="row justify-content-center mb-5">
                <div class="col-xs-12 col-lg-8">
                    <h1>Portfolio</h1>
                    <p>This is a small collection of my favourite projects I developed with a small description and links to pages relating to the project.</p>

                    <h3>Auto Py To Exe</h3>


                    <h3>PyTutorials YouTube Channel</h3>


                    <h3>Price Per Unit</h3>


                    <h3>Multi Clipboard</h3>


                    <h3>Quick Script</h3>


                    <h3>Nitratine (Version 1)</h3>


                    <h3>Colour</h3>


                </div>
            </div>
{% endblock content %}