{% extends "base.html" %}

{% block head %}
        <title>Search - Nitratine</title>

        <meta name="description" content="Local Nitratine.net Search">
        <meta name="author" content="{{ site.default_author }}">
        <meta property="og:title" content="Search - Nitratine">
        <meta property="og:description" content="Local Nitratine.net Search">
        <meta property="og:image" content="{{ site.url }}/assets/img/logo.png">
        <meta property="og:url" content="{{ site.url + request.path }}">
        <meta name="twitter:card" content="summary">
{% endblock head %}

{% block content %}
            <div class="mx-auto" style="max-width: 800px">

                <h1 class="text-center">Local Nitratine.net Search</h1>

                <div class="input-group my-4">
                    <input id="search" type="text" class="form-control" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button id="search-submit" class="btn btn-outline-primary px-md-5" type="button">Search</button>
                    </div>
                </div>

                <div id="results"></div>

            </div>

            <script type="text/javascript" defer src="/assets/js/search-page.js"></script>
            <script>let site_content = {{ site_content | tojson }};</script>
{% endblock content %}