<!doctype html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#1976d2"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
        <script src="{{ url_for('static', filename='js/navigation.js') }}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=0.6">
        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <link rel="icon" sizes="100x100" href="{{ url_for('static', filename='img/favicon.ico') }}">
        {% block head %}{% endblock %}
	</head>
	<body>
        <div id="small_nav" class="small_nav" onclick="toggleNav(this)">
            <div class="small_nav_item" onclick="linkTo('')">Home</div>
            <div class="small_nav_item" onclick="linkTo('projects')">Projects</div>
            <div class="small_nav_item" onclick="linkTo('blog')">Blog</div>
            <div class="small_nav_item" onclick="linkTo('apps')">Apps</div>
            <div class="small_nav_item" onclick="linkTo('youtube')">YouTube</div>
            <div class="small_nav_item" onclick="linkTo('tools')">Tools</div>
            <div class="small_nav_item" onclick="linkTo('stats')">Statistics</div>
            <img id="small_nav_icon" src="{{ url_for('static', filename='img/menu-icon.svg') }}" style="height: 50px; transition: transform .3s; filter: invert()" />
        </div>
        <div id="small_nav_spacer" class="small_nav_spacer"></div>

        <div class="nav">
            <a class="icon" onclick="window.location.href = window.location.origin">
                <div style="text-align: center; height: 100%;">
                    <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                    <img src="{{ url_for('static', filename='img/nitratine.png') }}" style="width: 90%; vertical-align: middle;">
                </div>
            </a>
            <div class="nav_section">
                <a class="nav_button" href="/">
                    <img src="{{ url_for('static', filename='img/home-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Home</div>
                </a>
            </div>
            <div class="nav_section">
                <a class="nav_button" href="/projects">
                    <img src="{{ url_for('static', filename='img/projects-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Projects</div>
                </a>
                <a class="nav_button" href="/blog">
                    <img src="{{ url_for('static', filename='img/blog-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Blog</div>
                </a>
                <a class="nav_button" href="/apps">
                    <img src="{{ url_for('static', filename='img/apps-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Apps</div>
                </a>
                <a class="nav_button" href="/youtube">
                    <img src="{{ url_for('static', filename='img/youtube-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">YouTube</div>
                </a>
                <a class="nav_button" href="/tools">
                    <img src="{{ url_for('static', filename='img/tools-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Tools</div>
                </a>
            </div>
            <div class="nav_section">
                <a class="nav_button" href="/stats">
                    <img src="{{ url_for('static', filename='img/stats-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Statistics</div>
                </a>
            </div>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
	</body>
</html>