<!doctype html>
<html lang="en">
	<head>
        {{ skeleton_required['google_site_verification']|safe }}
        {{ skeleton_required['google_analytics']|safe }}
        <meta charset="utf-8">
        <meta name="theme-color" content="#1976d2"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" type="text/css" class="css_dark_theme" href="{{ url_for('static', filename='css/dark/global.css') }}">
        <script src="{{ url_for('static', filename='js/global.js') }}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=0.6">
        <link rel="icon" sizes="100x100" href="{{ url_for('static', filename='img/favicon.ico') }}">
        {% if skeleton_required['google_ad_client'] %}
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "{{ skeleton_required['google_ad_client'] }}",
            enable_page_level_ads: true
          });
        </script>
        {% endif %}
        <script>var youtube_channel_id = "{{ skeleton_required['youtube_channel_id'] }}"; var youtube_data_API_key = "{{ skeleton_required['youtube_data_API_key'] }}"; var enable_right_sidebar = {{ skeleton_required['enable_right_sidebar']|tojson }};</script>
        {% block head %}{% endblock %}
	</head>
	<body>
        <div id="snow"></div>
        <div id="phone_nav" style="">
            <div class="phone_nav_tile" onclick="linkTo('')">
                <img src="/img/home-icon.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text">Home</div>
            </div>
            <div class="phone_nav_tile" onclick="linkTo('projects')">
                <img src="/img/projects-icon.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text">Projects</div>
            </div>
            <div class="phone_nav_tile" onclick="linkTo('blog')">
                <img src="/img/blog-icon.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text">Blog</div>
            </div>
            <div class="phone_nav_tile" onclick="linkTo('apps')">
                <img src="/img/apps-icon.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text">Apps</div>
            </div>
            <div class="phone_nav_tile" onclick="linkTo('youtube')">
                <img src="/img/youtube-icon.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text">YouTube</div>
            </div>
            <div class="phone_nav_tile" onclick="linkTo('tools')">
                <img src="/img/tools-icon.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text">Tools</div>
            </div>
            <div class="phone_nav_tile" onclick="linkTo('stats')">
                <img src="/img/stats-icon.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text">Statistics</div>
            </div>
            <div id="phone_nav_theme" class="phone_nav_tile" onclick="setTheme()">
                <img src="/img/dark-icon_enabled.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text phone_nav_button_enabled">Theme</div>
            </div>
            <div id="phone_nav_snow" class="phone_nav_tile" onclick="setSnow()">
                <img src="/img/snow-icon_enabled.svg" class="phone_nav_tile_img">
                <div class="phone_nav_tile_text phone_nav_button_enabled">Snow</div>
            </div>
            <div id="phone_nav_bar" onclick="navToggle()">
                <img id="phone_nav_bar_icon" src="{{ url_for('static', filename='img/menu-icon.svg') }}">
            </div>
        </div>
        <div class="phone_nav_bar_block"></div>

        <div class="nav">
            <a class="icon" onclick="window.location.href = window.location.origin">
                <div style="text-align: center; height: 100%;">
                    <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                    <img src="{{ url_for('static', filename='img/nitratine.png') }}" style="width: 90%; vertical-align: middle;">
                </div>
            </a>
            <div class="nav_section">
                <a class="nav_button" href="/">
                    <img src="{{ url_for('static', filename='img/home-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Home</div>
                </a>
            </div>
            <div class="nav_section">
                <a class="nav_button" href="/projects">
                    <img src="{{ url_for('static', filename='img/projects-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Projects</div>
                </a>
                <a class="nav_button" href="/blog">
                    <img src="{{ url_for('static', filename='img/blog-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Blog</div>
                </a>
                <a class="nav_button" href="/apps">
                    <img src="{{ url_for('static', filename='img/apps-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Apps</div>
                </a>
                <a class="nav_button" href="/youtube">
                    <img src="{{ url_for('static', filename='img/youtube-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">YouTube</div>
                </a>
                <a class="nav_button" href="/tools">
                    <img src="{{ url_for('static', filename='img/tools-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Tools</div>
                </a>
            </div>
            <div id="last_nav_link" class="nav_section">
                <a class="nav_button" href="/stats">
                    <img src="{{ url_for('static', filename='img/stats-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Statistics</div>
                </a>
            </div>
            <div id="nav_options" class="nav_section_bottom">
                <div class="switch_text">Dark Theme</div>
                <label class="switch">
                    <input type="checkbox" id="dark_theme_switch" onchange="setTheme()">
                    <span class="slider round"></span>
                </label>
                <div class="switch_text">Snow</div>
                <label class="switch">
                    <input type="checkbox" id="snow_switch" onchange="setSnow()">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <script>getThemeToSwitch();getSnowToSwitch();checkOptionsSection();</script>

        <div id="right_sidebar">
            <div id="right_sidebar_vertically_aligned">

                <div id="yt-subscribe-button">
                    <script src="https://apis.google.com/js/platform.js"></script>
                    <div class="g-ytsubscribe" data-channelid="{{ skeleton_required['youtube_channel_id'] }}" data-layout="full" data-theme="default" data-count="default"></div>
                </div>

                <div id="recent-yt" class="grid2"></div>

                <div class="github-card-horz-alig">
                    <!-- https://github.com/lepture/github-cards -->
                    <div class="github-card" data-github="{{ skeleton_required['github_username'] }}" data-width="300" data-height="150" data-theme="default" ></div>
                    <script async src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
                </div>

                {{ skeleton_required['ad_300x250_code']|safe }}
            </div>
        </div>

        <div class="content">
            <script>checkRightSidebar();</script>
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div id="recent-yt2" class="grid2"></div>
            <div class="github-card-horz-alig" style="width: 400px;">
                <div class="github-card" data-github="{{ skeleton_required['github_username'] }}" data-width="400" data-height="150" data-theme="default" ></div>
                <script async src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
            </div>
        </footer>
	</body>
</html>