<html>
	<head>
        <meta charset="utf-8">
        <!--<meta name="theme-color" content="#445963"/>-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/global.css') }}">
        <!--<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>-->
        <!--<link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon.ico') }}">-->
		<!--<meta name="viewport" content="width=device-width, initial-scale=0.6">-->
        <script>var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        {% block head %}{% endblock %}
	</head>
	<body>
        <div class="nav">
            <div class="icon">

            </div>
            <div class="nav_section">
                <a class="nav_button" href="/projects">
                    <img src="{{ url_for('static', filename='img/project-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Projects</div>
                </a>
                <a class="nav_button" href="/blog">
                    <img src="{{ url_for('static', filename='img/blog-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Blog</div>
                </a>
                <a class="nav_button" href="/youtube">
                    <img src="{{ url_for('static', filename='img/youtube-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">YouTube</div>
                </a>
                <a class="nav_button" href="/tools">
                    <img src="{{ url_for('static', filename='img/tools-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Tools</div>
                </a>
            </div>
            <div class="nav_section">
                <a class="nav_button" href="/stats">
                    <img src="{{ url_for('static', filename='img/stats-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">Statistics</div>
                </a>
                <a class="nav_button" href="/about">
                    <img src="{{ url_for('static', filename='img/about-icon.svg') }}" class="nav_button_icon" />
                    <div class="nav_button_text">About</div>
                </a>
            </div>
        </div>

        <div class="content">
            <div class="top_bar">

            </div>
            <div>
                {% block content %}{% endblock %}
            </div>
        </div>
	</body>
</html>