{% extends "SKELETON.html" %}

{% block head %}
<title>Statistics | Nitratine</title>
<meta name="description" content="Statistics including total views and articles, when people visited and where in the day." />
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/subs.css') }}">
<link rel="stylesheet" type="text/css" class="css_dark_theme" href="{{ url_for('static', filename='css/dark/subs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stats.css') }}">
<link rel="stylesheet" type="text/css" class="css_dark_theme" href="{{ url_for('static', filename='css/dark/stats.css') }}">
{% endblock %}

{% block content %}
<!-- Header -->
<div class="header_wrapper">
    <div class="header_img" style="background-image: url(/img/stats-icon.svg)"></div>
    <h1 class="header_text">Statistics</h1>
</div>

<div class="data"><span class="descriptor">Total Views :</span> <span class="value">{{ total_views }}</span></div>
<div class="data"><span class="descriptor">Number Of Articles:</span> <span class="value">{{ number_of_articles }}</span></div>

<canvas id="twentyDayChart" height="250px" style="width: 80%;"></canvas>
<script>
var ctx = document.getElementById("twentyDayChart").getContext('2d');
var twentyDayChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ last_20_day_labels | safe}},
        datasets: [{
            label: 'Last 20 Days',
            data: {{ last_20_day_data }},
            backgroundColor: 'rgba(25, 118, 210, 1)',
            borderColor: 'rgba(25, 118, 210, 1)',
            borderWidth: 1,
            fill: false
        },
        {
            label: '20 Day Previous Comparison',
            data: {{ prev_20_day_data }},
            backgroundColor: 'rgba(245, 225, 55, 1)',
            borderColor: 'rgba(245, 225, 55, 1)',
            borderWidth: 1,
            fill: false
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<canvas id="hourlyChart" height="250px" style="width: 80%;"></canvas>
<script>
var ctx = document.getElementById("hourlyChart").getContext('2d');
var hourlyChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["12am", "1am", "2am", "3am", "4am", "5am", "6am", "7am", "8am", "9am", "10am", "11am", "12pm", "1pm", "2pm", "3pm", "4pm", "5pm", "6pm", "7pm", "8pm", "9pm", "10pm", "11pm"],
        datasets: [{
            label: 'Total Views Per Hour',
            data: {{ hourly_data }},
            backgroundColor: 'rgba(25, 118, 210, 1)',
            borderColor: 'rgba(25, 118, 210, 1)',
            borderWidth: 1,
            fill: false
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<div class="time">Statistics generates at {{ time }} (server time)</div>
{% endblock %}
