{% extends "SKELETON.html" %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/subs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animations.css') }}">
{% endblock %}

{% block content %}
<!-- Header -->
<div class="header_wrapper">
    <div class="header_img" style="background-image: url({{ display_icon }})"></div>
    <h1 class="header_text">{{ title }}</h1>
</div>

<!-- Featured sections -->
<div class="content_container">
    <!-- Top -->
    <div class="content_box">
        <h2 class="content_box_title">Top Articles</h2>
        <div class="top_article_container">
            <a class="top_article sweep-to-bottom">
                <img src="{{ url_for('static', filename='img/apps/colour-icon.png') }}" class="top_article_image">
                <h3 class="top_article_title">Colour - Android App</h3>
            </a>
            <a class="top_article sweep-to-bottom"></a>
            <a class="top_article sweep-to-bottom"></a>
            <a class="top_article sweep-to-bottom"></a>
            <a class="top_article sweep-to-bottom"></a>
        </div>
    </div>

    <!-- Recent -->
    <div class="content_box">
        <h2 class="content_box_title">Articles Ordered By Date</h2>
        <div class="date_order_article_container">
            <a class="date_order_article sweep-to-right">
                <img src="{{ url_for('static', filename='img/apps/colour-icon.png') }}" class="tile_image">
                <h3 class="tile_title">Colour - The completely pointless app</h3>
                <p class="tile_text">This app is based off the goal of obtaining all 16,777,216 colours by randomly generating colours when taping the screen.</p>
                <div class="tile_tag_box">
                    <div class="tile_tag">Java</div>
                    <div class="tile_tag">Android</div>
                    <div class="tile_tag">Colour</div>
                    <div class="tile_tag">Random</div>
                </div>
            </a>
            <a class="date_order_article sweep-to-right"></a>
            <a class="date_order_article sweep-to-right"></a>
            <a class="date_order_article sweep-to-right"></a>
            <a class="date_order_article sweep-to-right"></a>
        </div>
    </div>
</div>
{% endblock %}
