{% extends "SKELETON.html" %}

{% block head %}
<title>{{ title }} | Nitratine</title>
<meta name="description" content="{{ description }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/subs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animations.css') }}">
{% endblock %}

{% block content %}
<!-- Header -->
<div class="header_wrapper">
    <div class="header_img" style="background-image: url({{ display_icon }})"></div>
    <h1 class="header_text">{{ title }}</h1>
</div>

<!-- Featured sections -->
<div class="content_container">
    <!-- Top -->
    <div class="content_box">
        <h2 class="content_box_title">Top Articles</h2>
        <div class="top_article_container">
            {% for article in top_articles %}
            <a class="top_article sweep-to-bottom" href="/{{ article['sub'] }}/{{ article['url_ext'] }}">
                <img src="/non-static/{{ article['sub'] }}/{{ article['url_ext'] }}/icon.png" class="top_article_image">
                <h3 class="top_article_title">{{ article['title'] }}</h3>
            </a>
            {% endfor %}
        </div>
    </div>

    <!-- Recent -->
    <div class="content_box">
        <h2 class="content_box_title">Articles Ordered By Date</h2>
        <div class="date_order_article_container">
            {% for article in recent_articles %}
            <a class="date_order_article sweep-to-right" href="/{{ article['sub'] }}/{{ article['url_ext'] }}">
                <img src="/non-static/{{ article['sub'] }}/{{ article['url_ext'] }}/icon.png" class="tile_image">
                <h3 class="tile_title">{{ article['title'] }}</h3>
                <p class="tile_text">{{ article['description'] }}</p>
                <div class="tile_tag_box">
                    <div class="tile_tag" style="margin-right: 10px;">🕑 {{ convertDateToReadable(article['date']) }}</div>
                    <div class="tile_tag">📈 {{ article['views']['count'] }}</div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/description_cutting.js') }}"></script>
{% endblock %}
