main {
    margin-top: 5rem; /* Account for nav */
}

.card-hover-effect {
    transition: border 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card-hover-effect:hover {
    border: 1px solid #007bff;
    box-shadow: 4px 4px 15px 0 rgba(0,0,0,.2);
}

.card-columns > a, .blog-main > a {
    color: inherit;
}

.tech-icon-container {
    text-align: center;
}

.tech-icon-container > img {
    width: 60px;
    margin: 0 5px 5px 5px;
}

*::selection {
    background: #ded28f;
    color: black;
}

a { word-break: break-word; }

/* Footer */

.footer {
  color: white;
}

.footer .top-group {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 8rem;
}

@media (max-width: 768px) and (min-width: 577px) {
  .footer .top-group {
    grid-gap: 5rem;
  }
}

@media (max-width: 576px) {
  .footer .top-group {
    grid-gap: 1rem;
  }
}

.footer .link-group .header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.footer .link-group a {
  margin: 0;
  display: block;
  color: white;
  text-decoration: none;
}

.footer .link-group a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.footer .link-group a.with-icon {
  display: flex;
  align-items: center;
}

.footer .link-group a.with-icon img {
  max-height: 18px;
  max-width: 18px;
  margin-right: 0.5rem;
}
