/* Sidebar Video Thumbnails */

.yt_video_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.yt_video_container > img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
    .yt_video_container { grid-template-columns: 1fr; }
    .yt_video_container > img:nth-child(n + 4) { display: none; }
}


/* Featured Sites */

.featured-sites a {
    padding: 7px;
    transition: background .4s;
    border-radius: 7px;
    display: block;
    text-align: center;
}

.featured-sites a img {
    max-width: 100%;
    max-height: 30px;
}

.featured-sites a:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Blog Feature Cards (Multiple Sizes) */

.blog-card img.thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 3px 0 0 3px;
    object-fit: cover;
}

@media (min-width: 767.98px) { /* Thumbnail on the left */
    .blog-card {
        display: grid;
        grid-template-columns: 230px 1fr;
    }
}

@media (max-width: 767.98px) { /* Thumbnail as the background */
    .blog-card {
        display: block;
        background: transparent;
    }
    .blog-card div.thumbnail-wrapper {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.1;
    }
    .blog-card img.thumbnail {
        display: block;
        max-height: 100%;
        max-width: 100%;
        filter: blur(2px);
    }
}

/* YouTube Embedding */

.embedded_yt {
    width: 100%;
    max-width: 650px;
    margin: auto;
}

.embedded_yt > div {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.embedded_yt > div > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Navigation hash offset. An amazing solution: https://stackoverflow.com/a/28824157 */

:target::before {
  content: "";
  display: block;
  height: 56px;
  margin: -56px 0 0;
}

/* Post Styling */

.post-hits {
    height: 18px;
    margin-top: -2px;
}

.post-content img {
    max-width: 100%;
    display: block;
    margin: auto;
}

.post-content > .toc > ul > li > ul > li *:not(a) {
    display: none; /* Hide any points that are more than two headings deep in the table of contents */
}

.post-content > .toc > ul {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 1rem;
}

blockquote { /* Blockquotes */
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
    word-break: break-word;
}

/* GitHub Styled Tables */

table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 16px;
}

table th {
    font-weight: 600
}

table th, table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
}

table tr:nth-child(2n) {
    background-color: #f6f8fa
}

table img {
    background-color: initial
}

/* Sidebar */

.blog-sidebar > div {
    overflow: hidden;
}

@media (max-width: 992px) {
    /* Add margin to the top of the sidebar when under content */
    .col-blog-sidebar {
        margin-top: 1rem;
    }
}

/* GitHub Component */

.github-summary {
    transform: translate(0); /* Need to put this here as the bootstrap stretched-link class will expand too far out */
    cursor: pointer;
    transition: background-color 0.3s;
}

.github-summary:hover {
    background: rgba(0, 0, 0, 0.05);
}

.github-summary .repo-name {
    display: inline-flex;
    align-items: center;
}

.github-summary .repo-name img {
    max-height: 20px;
    max-width: 20px;
}

/* Blur-up Images */

.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
    width: initial !important;
    height: initial !important;
}
