.codehilite {
    font-size: 15px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.codehilite > pre {
    padding: 8px 11px;
    margin: 0;
    border-radius: 4px;
    color: #d4d4d4 !important; /* To counteract bootstrap black on black */
}

.codehilite pre { background-color: #1e1e1e; }
.codehilite .hll { background-color: #1e1e1e; }
.codehilite .bp { color: #d4d4d4 }
.codehilite .c1 { color: #6a9955 }
.codehilite .cm { color: #6a9955 }
.codehilite .cp { color: #6a9955 }
.codehilite .fm { color: #dcdcaa }
.codehilite .go { color: #d4d4d4 }
.codehilite .k { color: #c586c0 }
.codehilite .kc { color: #569cd6 }
.codehilite .kd { color: #c586c0 }
.codehilite .kn { color: #c586c0 }
.codehilite .kt { color: #569cd6 }
.codehilite .mi { color: #569cd6 }
.codehilite .mh { color: #569cd6 }
.codehilite .n { color: #d4d4d4 }
.codehilite .na { color: #9cdcfe }
.codehilite .nb { color: #569cd6 }
.codehilite .nc { color: #4ec9b0 }
.codehilite .nf { color: #dcdcaa }
.codehilite .nn { color: #d4d4d4 }
.codehilite .nt { color: #569cd6 }
.codehilite .nx { color: #dcdcaa } /* Inherit? */
.codehilite .o { color: #d4d4d4 }
.codehilite .p { color: #d4d4d4 }
.codehilite .s { color: #ce9178 }
.codehilite .s1 { color: #ce9178 }
.codehilite .s2 { color: #ce9178 }
.codehilite .sx { color: #d4d4d4 }
.codehilite .gp { color: #dcdcaa }
.codehilite .kr { color: #569cd6 }
.codehilite .ow { color: #c586c0 }
.codehilite .nd { color: #4ec9b0 }
.codehilite .si { color: #ce9178 }
.codehilite .mf { color: #569cd6 }
.codehilite .ne { color: #4ec9b0 }
.codehilite .se { color: #dcdcaa }
.codehilite .sd { color: #6a9955 }
.codehilite .sa { color: #dcdcaa }
.codehilite .vm { color: #569cd6 }
.codehilite .err { color: inherit }
.codehilite .nv { color: inherit }
.codehilite .gt { color: inherit }
.codehilite .m { color: #569cd6 }
.codehilite .gr { color: #4ec9b0 }
